body{
   background-color: black;
   color: white;
   font-size: 20px;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr{
    border-style: solid;
    color: yellow;
    border-color: yellow;
    background-color: yellow;
    border-width: 50%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid black; 
  }

.bracket_button{
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.bracket_button:hover {
    background-color: rgb(51, 118, 206);
    color: white;
  }

h1 {text-align: center;
    font-size: 28px;
    border-style: solid;
    border-color: yellow;
    border-radius: 10px;
    border-width: 15%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #696967;
  }